/* selector {
    property:value
} */

/* .class {
  property: value;
}

#id{
    property: value;
} */

body {
  margin: 0;
}

h1 {
  color: rgb(42, 0, 0);
  font-size: 25px;
}

p {
  font-size: 12px;
  color: rgb(4, 83, 173);
}
.underline {
  text-decoration: underline;
  border-bottom: 1px black;
  color: blue;
}

#para {
  text-decoration: underline;
  border-bottom: 1px black;
  color: blue;
}

#para2 {
  font-style: italic;
}


div.h_3  p {
  text-decoration: underline;
  border-bottom: 1px black;
  color: blue;
  font-size: 15px;
}

body > p {
    font-size:30px
}

input[name="name"]{
    width:100%
}

h1[lang='eng']{
    color:orange
}

h1, p, div, span, .h_3{
    /* background-color: grey; */
}